$bg-primary: #f8f9fd;
$bg-strong: #e4e7f4;
$bg-hover: #fff3f2;
$cl-primary: #2a2d3b;
$cl-sec: #9198af;
$btn-primary-bg: #dbff90;
$btn-primary-cl: #fa7268;
$bdr-default: 1px solid #e1e1e1;
$bdr-input: 1px solid #c0c3d2;

$ff-default: 'Roboto', sans-serif;

@mixin mobile {
    @media only screen and (max-width: 991px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 992px) {
        @content;
    }
}