.contact-form {
  .contact-form__line {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .contact-form__input {
    border: $bdr-input;
    @include border-radius(4px);
    background-color: #ffffff;
    outline: none;
    padding: 9px 10px;
  }

  .contact-form__label {
    font-size: 0.875em;
    margin-bottom: 0.25rem;
  }
}