.contact-form {
  &__line {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--tel {
      max-width: 8rem;
    }

  }

  &__body {
    padding: 1.25rem 1.5rem 1.375em 1.5rem;
  }

  &__action {
    border-top: $bdr-input;
    padding: 1rem;
    text-align: right;
  }

  &__input {
    border: $bdr-input;
    @include border-radius(4px);
    background-color: #ffffff;
    outline: none;
    padding: 9px 10px;
  }

  &__label {
    font-size: 0.875em;
    margin-bottom: 0.25rem;
  }
}